<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北海道吐司(4片) 北海道吐司(4片)__蛋糕网上订购_5小时新鲜送达_心仪Cake官网</title>
    <link rel="stylesheet" href="../css/goods-description.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/qiYe_model.css">
    <link rel="stylesheet" href="../css/qiancao.css">
    <link rel="stylesheet" href="../css/sixkouwei.css">
    <link rel="stylesheet" href="../css/xiaribingqilin.css">
    <link rel="stylesheet" href="../css/guaercafei.css">
    <link rel="stylesheet" href="../css/zhenzimiaobao.css">
    <link rel="stylesheet" href="../css/beihaidaomianbao.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<header id="header">
    <%-include('common/header.ejs')%>
    <div class="daohanglan">
        <div class="content-middle">
            <div class="daohangLeft">
                <span>北海道吐司(4片)</span>
            </div>
            <div class="daohangRight">
                <span>¥9.90/一份</span><i></i>
            </div>
        </div>

    </div>
</header>

<!--//顶部导航栏内容-->
<div class="shopMall shopMall2">
    <i></i>
    <p>成功添加购物车</p>
    <button>查看购物车</button>
</div>
<div class="sec2-right2">
    <div class="top top2">
        <div class="sec2-tr">
            <div class="size">
                <i></i>
                <span>约90g</span>
            </div>
            <div class="people">
                <i></i>
                <span>适合1-2人分享</span>
            </div>
            <div class="time">
                <i></i>
                <span>最早后天 14:00配送</span>
            </div>
        </div>

    </div>
    <div class="mid mid3">
        <span>商品规格</span>
        <button class="bt10">一份
            <i></i>
        </button>
    </div>
    <div class="bottom2">
        <button>立即购买</button>
        <button>加入购物车</button>
    </div>
</div>
<!--===============第一部分-----上面的大图片和旁边的三张小图片==============-->


<section class="sec1">
    <div class="center1">
        <!--1）左边大图-->
        <div class="sec1-left">
            <img src="../images/lmy-830jpg.jpg" alt="">
        </div>

        <!--2）右边四张小图    -->
        <div class="sec1-right">
            <ul>
                <li>
                    <img src="../images/lmy-830jpg.jpg" alt="" class="img1" style="outline: rgb(198, 156, 109) solid 1px;">
                </li>
                <li>
                    <img src="../images/lmy-831.jpg" alt="" class="img2" style="outline: rgb(198, 156, 109) solid 1px;">
                </li>
                <li>
                    <img src="../images/lmy-832.jpg" alt="" class="img3" style="outline: rgb(198, 156, 109) solid 1px;">
                </li>
            </ul>
        </div>
    </div>
</section>


<!--==============第二部分-----描述及选择部分===============================-->


<section class="sec2">
    <div class="center1">
        <div class="sec2-left">
            <div class="left-content1">
                <p>北海道吐司(4片)</p>
                <span>北海道吐司(4片)</span>
            </div>
            <div class="left-content2">
                <button>面包 ></button>
            </div>
            <div class="left-content3">
                <img src="../images/lmy-833.png" alt="">
                <span>乳脂奶油</span>
            </div>
            <div class="left-content4">
                <p>/不是每个人都能够享有新鲜空气，洁净的水/</p>
                <p>/和有机小麦、天然乳制品制作的面包/</p>
            </div>
        </div>
        <div class="sec2-right">
            <div class="shopMall">
                <i></i>
                <p>成功添加购物车</p>
                <button>查看购物车</button>
            </div>
            <div class="top">
                <div class="sec2-tr">
                    <div class="size">
                        <i></i>
                        <span>约90g</span>
                    </div>
                    <div class="people">
                        <i></i>
                        <span>适合1-2人享用</span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>最早后天 14:00配送</span>
                    </div>
                </div>
                <div class="price">
                    <span>¥9.90</span>
                    <span>/一份</span>
                </div>

            </div>
            <div class="mid">
                <span class="shopSize">商品规格</span>
                <button class="bt10">一份
                    <i></i>
                </button>
            </div>
            <br>
            <div class="bottom">
                <button>立即购买</button>
                <button>加入购物车</button>
            </div>
        </div>
    </div>
</section>


<!--=================分界线================================================-->
<div class="divide"></div>


<!--=================第三部分==============================================-->
<section class="sec3">
    <div class="center1 center10">
        <img src="../images/lmy-834.jpg" alt="">
        <img src="../images/lmy-835.jpg" alt="">
        <img src="../images/lmy-837.jpg" alt="">
        <img src="../images/lmy-838.jpg" alt="">
        <!--<img src="../images/lmy-839.jpg" alt="">-->
        <img src="../images/lmy-840.jpg" alt="">
        <img src="../images/lmy-841.jpg" alt="">
        <img src="../images/lmy-842.jpg" alt="">
    </div>
</section>


<!--=========================第四部分=========================================-->
<section class="sec5">
    <div class="center1 center2">
        <div class="pBox">
            <span>商品推荐</span>
        </div>
        <div class="imgBox">
            <div class="floatL1">
                <div>
                    <a href="/hongtangmianbao.do">
                        <img src="../images/lmy-910.jpg" alt="">
                    </a>
                    <div class="hidden">
                        <i></i>
                        <span>新疆红枣,桂圆,古法红糖</span>
                    </div>
                </div>
                <div>
                    <p>红糖红枣桂圆软欧</p>
                    <span>¥ 9.90/一份</span>
                </div>
            </div>
            <div class="floatL1">
                <div>
                    <a href="/zhenzimianbao.do">
                        <img src="../images/lmy-911.jpg" alt="">
                    </a>
                    <div class="hidden">
                        <i></i>
                        <span>玫瑰蜜饯和甘露</span>
                    </div>
                </div>
                <div>
                    <p>玫瑰吐司(4片)</p>
                    <span>¥ 13.80/一份</span>
                </div>
            </div>
            <div class="floatL1">
                <div>
                    <a href="/hongtangmianbao.do">
                        <img src="../images/lmy-912.jpg" alt="">
                    </a>
                    <div class="hidden">
                        <i></i>
                        <span>蓝莓酱</span>
                    </div>
                </div>
                <div>
                    <p>蓝莓丹麦</p>
                    <span>¥ 9.90/一份</span>
                </div>
            </div>
            <div class="floatL1">
                <div>
                    <a href="/beihaidaomianbao.do">
                        <img src="../images/lmy-913.jpg" alt="">
                    </a>
                    <div class="hidden">
                        <i></i>
                        <span>乳脂奶油</span>
                    </div>
                </div>
                <div>
                    <p>北海道吐司(四片)</p>
                    <span>¥ ¥ 9.90/一份</span>
                </div>
            </div>
        </div>
    </div>

</section>


<div style="clear: both"></div>



<!--页脚-->
<%-include('common/footer.ejs')%>



<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/goods-description.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/qiYe_model.js"></script>
<script src="../js/qiancao.js"></script>
<script src="../js/xiaribingqilin.js"></script>
<script src="../js/guaercafei.js"></script>
<script src="../js/xidacafei.js"></script>
<script src="../js/zhenzimianbao.js"></script>
<script src="../js/beihaodaomianbao.js"></script>
</body>
</html>