<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<!--导航栏部分-->
<%-include("common/header.ejs")%>
<!--/导航栏部分-->

<div class="notice-box">
    <h1 class="notice-title"><img src="../images/title.png">
    </h1>
    <ul id="noticeContent">
        <li>
            <div class="notice-list"><h3>亲爱的cake用户：</h3>
                <div><p></p>
                    <p>即日起，实际支付金额每满100元，则将自动获得1颗果实，以此类推。</p>
                    <p>实际金额指微信、支付宝、网银、京东支付、货到（现金/刷卡）支付及果实币支付。</p>
                    <p>代金卡、尊享卡、储值卡、优惠券抵扣金额，将不会累计果实。</p>
                    <p>优惠券、尊享卡与果实币不能同时使用。</p>
                    <p></p><span>心仪（上海）电子商务有限公司<br>2018-10-30</span></div>
            </div>
        </li>
    </ul>
    <div class="page-box" style="display: none;">
        <div class="M-box"><span class="active">1</span></div>
    </div>
</div>

<!--页尾部分-->
<%-include("common/footer.ejs")%>
<!--页尾部分-->

<script src="../lib/jquery/jquery.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="dengluZT.js"></script>

</body>
</html>