<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
</head>
<body>
<!--导航栏部分-->
<%-include("common/header.ejs")%>
<!--/导航栏部分-->
<div class="content-box article clearfix">
    <div class="bread-crumbs">
            <span>
                <a href="#" alt="" title="" style="font-size: 12px">购物指南</a>
            </span>
        <span style="font-size: 12px">&nbsp;&gt;&nbsp;</span>
        <span class="now" style="font-size: 12px">代金卡使用说明</span>
    </div>
    <div class="article-main">
        <div class="article-left">
            <dl class="content-list">
                <dt class="content-title">公司公告</dt>
                <dd class="node-index content-item">
                    <a href="/21cakeBulletin.do" title="21cake公告">
                        21cake公告
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">关于21Cake</dt>
                <dd class="node-index content-item">
                    <a href="/contact.do" title="联系我们">
                        联系我们 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/cooperate.do" title="21cake企业合作">
                        21cake企业合作 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/history.do" title="21cake品牌历史">
                        21cake品牌历史 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/productIdea.do" title="产品理念">
                        产品理念
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">购物指南</dt>
                <dd class="node-index content-item">
                    <a href="/privacy.do" title="隐私保护政策">
                        隐私保护政策 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/vip.do" title="会员注册协议">
                        会员注册协议 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/instruction.do" title="蛋糕预订说明">
                        蛋糕预订说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/faq.do" title="会员体系FAQ">
                        会员体系FAQ </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/card.do" title="代金卡使用说明">
                        代金卡使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/coupon.do" title="优惠券使用说明">
                        优惠券使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/information.do" title="发票信息说明">
                        发票信息说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/alter.do" title="修改订单信息说明">
                        修改订单信息说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">配送方式</dt>
                <dd class="node-index content-item">
                    <a href="/order.do" title="配送范围说明">
                        配送范围说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">生产经营资质</dt>
                <dd class="node-index content-item">
                    <a href="/product.do" title="生产经营资质">
                        生产经营资质 </a>
                </dd>
            </dl>
        </div>
        <div class="article-right">
            <div class="article-title">
                <h2 style="color: #684029;">代金卡使用说明</h2>
            </div>
            <p class="article-time">发布日期：2016-07-26 00:00:00</p>

            <div class="article-body" style="color: #684029;font-size: 12px">
                <p>
                    一、代金卡使用规则<br>

                    代金卡不与优惠券同时使用，一张代金卡只能使用在一张订单上，订单金额小于代金卡金额时，剩余金额不能再次使用。<br>

                    二、代金卡使用方式<br>

                    电脑网页下单：登录官网www.21cake.com，登录自己的账户，在提交订单的页面，支付方式选择货到付现金，付款信息下面有一个使用代金卡的选项，填写卡号和防伪编码点击确定，提交订单即可。<br>

                    微信公众号下单：在提交订单的页面，支付方式选择“货到付现金”，付款信息下面有一个代金卡的选项，填写卡号和防伪编码点击使用代金卡，提交订单即可。<br>

                    APP下单：在确认订单的页面，选择代金卡，填写卡号和防伪编码点击使用代金卡即可。<br>

                    三、代金卡过期<br>

                    请致电400-650-2121/021-23099721提供卡号做延期，延期需要2-3个工作日。<br>
                </p>
            </div>
        </div>
    </div>
</div>


<!--页尾-->
<%-include("common/footer.ejs")%>

<script src="../lib/jquery/jquery.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="dengluZT.js"></script>
</body>
</html>