<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录_心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/controgin.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<!--导航栏部分-->
<%-include("common/header.ejs")%>
<!--/导航栏部分-->
<!--找回密码部分-->
<div class="body">
    <img src="../images/password.png" alt="" class="search">
    <p>
        恭喜你，重置密码成功！
    </p>
    <button type="button">
        <a href="/caketext-1">返回购物页面</a>
    </button>
</div>

<!--/找回密码部分-->
<!--页尾-->
<%-include("common/footer.ejs")%>


<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="dengluZT.js"></script>


</body>
</html>