<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<!--导航栏部分-->
<%-include("common/header.ejs")%>
<!--/导航栏部分-->

<div class="content-box article clearfix">
    <div class="bread-crumbs">
            <span>
                <a href="#" alt="" title="" style="font-size: 12px">关于21Cake</a>
            </span>
        <span style="font-size: 12px">&nbsp;&gt;&nbsp;</span>
        <span class="now" style="font-size: 12px">联系我们</span>
    </div>
    <div class="article-main">
        <div class="article-left">
            <dl class="content-list">
                <dt class="content-title">公司公告</dt>
                <dd class="node-index content-item">
                    <a href="/21cakeBulletin.do" title="21cake公告">
                        心仪cake公告
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">关于心仪Cake</dt>
                <dd class="node-index content-item">
                    <a href="/contact.do" title="联系我们">
                        联系我们 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/cooperate.do" title="21cake企业合作">
                        心仪cake企业合作 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/history.do" title="21cake品牌历史">
                        心仪cake品牌历史 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/productIdea.do" title="产品理念">
                        产品理念
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">购物指南</dt>
                <dd class="node-index content-item">
                    <a href="/privacy.do" title="隐私保护政策">
                        隐私保护政策 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/vip.do" title="会员注册协议">
                        会员注册协议 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/instruction.do" title="蛋糕预订说明">
                        蛋糕预订说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/faq.do" title="会员体系FAQ">
                        会员体系FAQ </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/card.do" title="代金卡使用说明">
                        代金卡使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/coupon.do" title="优惠券使用说明">
                        优惠券使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/information.do" title="发票信息说明">
                        发票信息说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/alter.do" title="修改订单信息说明">
                        修改订单信息说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">配送方式</dt>
                <dd class="node-index content-item">
                    <a href="/order.do" title="配送范围说明">
                        配送范围说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">生产经营资质</dt>
                <dd class="node-index content-item">
                    <a href="/product.do" title="生产经营资质">
                        生产经营资质 </a>
                </dd>
            </dl>
        </div>
        <div class="article-right">
            <div class="article-title">
                <h2>联系我们</h2>
            </div>
            <p class="article-time">发布日期：2014-04-01 00:00:00</p>

            <div class="article-body"><font face="Microsoft Yahei"
                                            size="2"><strong>全国客服热线</strong>：400-650-2121</font><br><br>
                <p style="color: rgb(51, 51, 51); font-size: 14px;"><strong><font
                                face="Microsoft Yahei">商务合作</font><font
                                face="verdana, Tahoma, Arial, 宋体, sans-serif">：</font></strong><span
                            style="font-family: 微软雅黑, sans-serif;">marketing@21cake.com</span></p>
                <p style="color: rgb(51, 51, 51); font-size: 14px;"><span
                            style="font-family: 微软雅黑, sans-serif;"><br></span></p>
                <font face="Microsoft Yahei" size="2"> <strong>企业团购业务：</strong><br> 北京：010-65503218<br>
                    上海：021-54259599<br> 天津：022-58192287</font><font face="Microsoft Yahei" size="2"><br>
                    杭州：0571-88801221 <br> 苏州：0510-85219010<br> 无锡：0510-85219010<br>广州：020-38390503-803<br>深圳：0755-23480031</font><a
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 10.5pt; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1.5; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px;"><br></a><a
                        style="color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 10.5pt; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1.5; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: window;"></a>
                <div id="qb-sougou-search" style="display: none; opacity: 0; left: 12px; top: 74px;"><p>搜索</p>
                    <p class="last-btn">复制</p>
                    <iframe src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!--页尾-->
<%-include("common/footer.ejs")%>


<script src="../lib/jquery/jquery.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="dengluZT.js"></script>

</body>
</html>