<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/courserPages.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>

<!--导航栏部分-->
<!--头部导航-->
<%-include("common/header.ejs")%>
<!--头部导航结束-->
<!--/导航栏部分-->

<!--中间内容-->
<section>
    <div>
        <div class="leftTop"></div>
        <p id="class">
            我们是一间
        <h1 id="hongBei">烘焙教室</h1>
        </p>
        <p id="happy">在这里我们一起快乐烘焙</p>
        <h1 id="share">分享甜蜜</h1>
        <div id="rightBottom"></div>
    </div>

    <!--旋转特效-->
    <div id="postion">
        <div id="rotate1">
            <div id="div">
            </div>
            <div id="text">
            </div>
        </div>

        <div id="rotate2">
            <div id="div2">
            </div>
            <div id="text2">
            </div>
        </div>


        <div id="rotate3">
            <div id="div3">
            </div>
            <div id="text3">
            </div>
        </div>

    </div>



</section>
<!--中间内容-->

<!--页尾-->
<%-include("common/footer.ejs")%>

<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/courserPages.js"></script>
<script src="dengluZT.js"></script>
</body>
</html>