<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>设计师款_标签_生日蛋糕网上订购_生日蛋糕预订_心仪/心仪蛋糕官网</title>
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="designer.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="home-page.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<!--=============页头=============-->
<%- include('common/header.ejs') %>
<!--/============页头=============-->

<!--页头下-->
<div class="bg">

</div>

<!--设计师款内容展示区-->
<div class="tag-list-title">
  <h2>设计师款<i></i>
    <span>
        </span>
  </h2>
</div>

<div class="content-box">
  <div class="top-load-p" id="list-loading" style="display: none;">加载中……</div>
  <div class="pro-list-content">
    <div class="pro-list-filter" style="display: none">
    </div>
    <div class="pro-list-box">
      <ul class="pro-list-pr">
        <li id="list-goods-798">
          <div class="pro-list-su">
            <a href="/qiancao.do" target="_blank" class="goods-list">
              <img src="../images/lw-1.jpg"
                   data-original="//static.21cake.com//upload/images/0ca8d77861d02e3bad9f2a421f4d1eb5.jpg"
                   class="lazy" alt="设计师竹纸扇" style="display: inline;">
              <h3>设计师竹纸扇</h3><span>¥38.00/把</span></a>
            <div class="label-entrance"><a href="../pages/designer.html">设计师款 &gt;</a></div>
            <a href="javascript:void(0);" class="pro-list-addcart" name="pro-list-addcart_798"
               data-id="798"><i></i>加入购物车</a></div>
          <div class="pro-specifications"></div>
        </li>
        <li id="list-goods-295">
          <div class="pro-list-su"><a href="/qiancao.do" target="_blank" class="goods-list"><img
                      src="../images/cake-7.jpg"
                      data-original="//static.21cake.com//upload/images/c2055ffac69c5e4e96f26f8d9414cc81.jpg"
                      class="lazy" alt="汉砖" style="display: inline;">
              <h3>汉砖</h3><span>¥98.00/0.25磅</span></a>
            <div class="label-entrance"><a href="../pages/qingLv.html">情侣 &gt;</a><a
                      href="../pages/designer.html">设计师款 &gt;</a><a href="../pages/low.html">低温 &gt;</a>
            </div>
          </div>
          <div class="pro-specifications"></div>
          <a class="pro-floridian" href="/qiancao.do" target="_blank"><span>敬请期待</span></a><a
                  class="to-notify-btn" href="javascript:void(0);" data-id="6098"><i></i>到货通知</a>
          <div class="addcart-dialog to-notify-dialog" style="display:none"></div>
        </li>
        <li id="list-goods-341">
          <div class="pro-list-su"><a href="/qiancao.do" target="_blank" class="goods-list"><img
                      src="../images/cake-1.jpg"
                      data-original="//static.21cake.com//upload/images/b97c755b92ab5a0791cd05b16e04ee18.jpg"
                      class="lazy" alt="重组" style="display: inline;">
              <h3>重组</h3><span>¥968.00/1.5磅</span></a>
            <div class="label-entrance"><a href="../pages/designer.html">设计师款 &gt;</a><a
                      href="../pages/party.html">聚会 &gt;</a><a href="../pages/birthday.html">生日 &gt;</a></div>
            <a href="javascript:void(0);" class="pro-list-addcart" name="pro-list-addcart_341"
               data-id="341"><i></i>加入购物车</a></div>
          <div class="pro-specifications"></div>
        </li>
        <li id="list-goods-294">
          <div class="pro-list-su"><a href="/qiancao.do" target="_blank" class="goods-list"><img
                      src="../images/cake-8.jpg"
                      data-original="//static.21cake.com//upload/images/441c962bf85d5fb1b5fb2f15fc0e0fbd.jpg"
                      class="lazy" alt="风乍起" style="display: inline;">
              <h3>风乍起</h3><span>¥398.00/1.0磅</span></a>
            <div class="label-entrance"><a href="../pages/designer.html">设计师款 &gt;</a><a
                      href="../pages/low.html">低温 &gt;</a></div>
          </div>
          <div class="pro-specifications"></div>
          <a class="pro-floridian" href="/qiancao.do" target="_blank"><span>敬请期待</span></a><a
                  class="to-notify-btn" href="javascript:void(0);" data-id="6090"><i></i>到货通知</a>
          <div class="addcart-dialog to-notify-dialog" style="display:none"></div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--=============页脚=============-->
<%- include('common/footer.ejs') %>
<!--/============页脚=============-->

<script src="jquery/jquery.js"></script>
<script src="designer.js"></script>
<script src="home-page.js"></script>
<script src="footer.js"></script>
<script src="dengluZT.js"></script>
</body>
</html>