<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>企业专区_心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达</title>
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
  <link rel="stylesheet" href="enterprise-zone.css"/>
  <link rel="stylesheet" href="qiYe_model.css">
  <link rel="stylesheet" href="common.css"/>
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="home-page.css">
</head>

<body>
<!--==========================页头===========================-->
<%-include('common/header.ejs')%>
<!--==========================/页头===========================-->

<!--===========================内容==============================-->
<section>
  <!--===========================页头背景=================================-->
  <div class="nav-box">
    <div class="table">
      <div class="table-cell">
        <a href="#vip" class="table-box">
          <img src="../images/vipduihuan.png" alt="尊享企业兑换"/>
        </a>
      </div>
      <div class="table-cell">
        <a href="#normal" class="table-box">
          <img src="../images/duihuan.png" alt="普通企业兑换"/>
        </a>
      </div>
      <div class="table-cell">
        <a href="#shichi" class="table-box">
          <img src="../images/shichi.png" alt="企业试吃"/>
        </a>
      </div>
      <div class="table-cell">
        <a href="#dingzhi" class="table-box">
          <img src="../images/dingzhi.png" alt="企业定制"/>
        </a>
      </div>
      <div class="table-cell">
        <a href="#lianxi" class="table-box">
          <img src="../images/lianxiwomen.png" alt="联系我们"/>
        </a>
      </div>

    </div>
  </div>
  <!--===========================/页头背景=================================-->

  <!--===========================尊享企业礼品卡兑换=================================-->
  <div class="center" id="vip">
    <div class="title">
      <img src="../images/vipduihuan-2.png" alt=""/>
      <br/>
      <img class="qusetion" src="../images/faq.png" alt=""/>
      <span class="seeFAQ" id="seeGet">查看获取方法>></span>
    </div>
    <div class="logoes">

      <a href="exchange.html" class="logoes-a1">
        <img style="height: 114px;width: 125px;" src="../images/u7.jpg" alt=""/>
        <br/>
        <span>四川大学</span>

      </a>


      <a href="exchange.html" class="shangyao">
        <img src="../images/u15.png" alt=""/>
        <br/>
        <span>中国银行</span>
        <div class="yuan">
        </div>
      </a>

      <a href="exchange.html" class="logoes-a1 qiqiao">
        <img src="../images/qiqiao.png" alt=""/>
        <br/>
        <span>七桥</span>
      </a>
      <br/>
      <a href="exchange.html" class="logoes-a1">
                <span class="dian">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
        <span>其他机构</span>
      </a>
      <a href="exchange.html" class="logoes-a1">
        <img src="../images/santian.jpg" alt=""/>
        <br/>
        <span>月饼兑换</span>
      </a>
    </div>
  </div>
  <div class="tankuang" id="tk1">
    <div class="tankuang-1">卡券获取、使用方法</div>
    <img class="close" src="../images/closeover.png" alt=""/>
    <p>Q1. 怎么获取卡券：<br/>
      A：注册成为廿一客会员，在廿一客官网每消费100元获得1颗松子，松子数量达到要求会自动升级会员等级，会员等级提升后会得到赠送的卡券。官网不定期举行活动也会赠送卡券。</p>
    <p>Q2. 卡券使用有什么条件：<br/>
      A: 一张订单只能使用一张券，卡券不可与其他优惠同时享受，卡券适合所有的商品。</p>
    <p>Q3. 会员升级需要多少松子：<br/>
      A：会员分为：初阶会员（1-5颗松子）、中阶会员（6-12颗松子）、高阶会员（13-24颗松子）、尊客（25颗松子以上）。</p>
    <p>Q4. 会员会掉级么：<br/>
      A：每90天内未产生购买，果实减一颗，若果实减少为下一等级数量时，等级相应降低，上一级别的固定权益失效。</p>
  </div>
  <!--===========================/尊享企业礼品卡兑换=================================-->

  <!--===========================普通企业礼品卡兑换=================================-->
  <div class="center div2">
    <div class="title">
      <img id="normal" src="../images/duihuan-2.png" alt=""/>
      <br/>
      <img class="qusetion" src="../images/faq.png" alt=""/>
      <span class="seeFAQ" id="seeFAQ">查看用户常见FAQ>></span>
    </div>
    <div class="cards">
      <a href="javascript:void(0);" class="div2-type">
        <img src="../images/enjoy.png" alt=""/>
        <img src="../images/enjoy-2.png" alt=""/>
      </a>
    </div>
    <div class="cards">
      <a href="javascript:void(0);" class="div2-type div2-type2">
        <img src="../images/gift-card.png" alt=""/>
        <br/>
        <img src="../images/gift-card-2.png" alt=""/>
      </a>
      <a href="javascript:void(0);" class="div2-type div2-type3">
        <img src="../images/stored-value.png" alt=""/>
        <img src="../images/stored-value-2.png" alt=""/>
      </a>
    </div>
  </div>
  <div class="yinying">
  </div>
  <div class="tankuang" id="tk2">
    <div class="tankuang-1">用户常见FAQ</div>
    <img class="close" src="../images/closeover.png" alt=""/>
    <p>Q1. 发票问题：<br/>
      A：卡券在使用时不能开具发票，请向售卖给您的客服或销售索要发票；发票开具内容为：食品或蛋糕</p>
    <p>Q2. 卡券有效期问题：<br/>
      A：卡券有效期请查看相关卡券背面的使用有效期。</p>
    <p>Q3. 卡券丢失问题：<br/>
      A：此卡券视为现金，卡券丢失，概不挂失、补卡。</p>
    <p>Q4. 卡券过期问题：<br/>
      A：如果到期后，您未使用或未刮开，可以联系我们的客服或销售人员进行换卡。</p>
  </div>

  <!--===========================/普通企业礼品卡兑换=================================-->

  <!--===========================企业试吃=================================-->
  <div class="center div3" id="shichi">
    <div class="title">
      <span>企业试吃</span>
    </div>
    <div class="dingzhi">
      <a href="/tryeating.do">
        去试吃>>
      </a>
    </div>
    <div>
      <a href="/tryeating.do">
        <img src="../images/shichi-2.png" alt=""/>
      </a>
    </div>
  </div>
  <!--===========================/企业试吃=================================-->

  <!--===========================企业定制=================================-->
  <div class="center div3" id="dingzhi">
    <div class="title">
      <img src="../images/dingzhi-2.png" alt=""/>
    </div>
    <div class="dingzhi">
      <a href="/qiYeDingZhi">
        去定制>>
      </a>
    </div>
    <div>
      <a href="/qiYeDingZhi">
        <img src="../images/dingzhi-3.jpg" alt=""/>
      </a>
    </div>
  </div>
  <!--===========================/企业定制=================================-->

  <!--===========================如何购买=================================-->
  <div class="center div3" id="lianxi">
    <div class="title">
      <img src="../images/ways-1.png" alt=""/>
    </div>
    <div>
      <select style="text-align:center;text-align-last:center;" name="" id="chooseCity">
        <option value="1">成都</option>
        <option value="2">北京</option>
        <option value="3">天津</option>
        <option value="4">杭州</option>
        <option value="5">无锡</option>
        <option value="6">苏州</option>
        <option value="7">广州</option>
        <option value="8">深圳</option>
      </select>

    </div>
    <p>
      联系电话：
      <span id="phone">021-54259599</span>
    </p>
    <p>
      联系邮箱：
      <span id="email">qiye@21cake.com</span>
    </p>
  </div>
  <!--===========================/如何购买=================================-->
  <hr/>
  <!--===========================留言=================================-->
  <div class="center div3 liuyan">
    <div class="title">
      <img src="../images/liuyan.png" alt=""/>
    </div>
    <ul>
      <li>
        <div class="city">
          <div id="city-1">
            已选择城市：
            <span id="cityName">成都</span>
            <img id="citySelect" src="../images/citySelect.png" alt=""/>
          </div>
          <ul id="cityli">
            <li id="ding" onclick="changeCity(this)">
              <p>成都</p>
            </li>
            <li onclick="changeCity(this)">
              <p>北京</p>
            </li>
            <li onclick="changeCity(this)">
              <p>天津</p>
            </li>
            <li onclick="changeCity(this)">
              <p>杭州</p>
            </li>
            <li onclick="changeCity(this)">
              <p>无锡</p>
            </li>
            <li onclick="changeCity(this)">
              <p>苏州</p>
            </li>
            <li onclick="changeCity(this)">
              <p>广州</p>
            </li>
            <li id="di" onclick="changeCity(this)">
              <p>深圳</p>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <input id="input-1" placeholder="公司名称(必填)" type="text"/>
      </li>
      <li>
        <input id="input-2" placeholder="联系人(必填)" type="text"/>
      </li>
      <li>
        <input id="input-3" placeholder="手机号(必填)" type="text"/>
      </li>
      <li>
        <input id="input-4" placeholder="邮箱(必填)" type="text"/>
      </li>
      <li>
        <textarea id="input-5" type="text" name="" placeholder="留言(必填)"></textarea>
      </li>
      <li class="error"><span>请填写完整信息</span></li>
    </ul>
    <div class="overshow">
      &nbsp; 感谢您的留言，工作人员会与您主动联系！
    </div>
  </div>
  <div>
    <button id="over">提交</button>
  </div>

  <!--===========================/留言=================================-->

</section>

<!--===========================/内容==============================-->

<!--==========================页尾===========================-->
<%-include('common/footer.ejs')%>
<!--==========================/页头===========================-->


<script src="jquery-1.12.4.js"></script>
<script src="qiYe_model.js"></script>
<script src="enterprise-zone.js"></script>
<script src="jquery/jquery.js"></script>
<script src="footer.js"></script>
<script src="home-page.js"></script>
<script src="dengluZT.js"></script>
</body>
</html>