<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的_心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/goldCode.css">
</head>
<body>
<!--头部导航-->
<%-include("common/header.ejs")%>
<!--头部导航结束-->

<!--中间内容区-->
<section>
    <div class="center1">
        <h2>我的代金卡</h2>
        <p>代金卡列表</p>
        <table>
            <thead style="border: 1px solid blue">
            <tr align="center">
                <td>卡编号</td>
                <td>卡使用状态</td>
                <td>卡使用时间</td>
                <td>卡金额</td>
                <td>对应订单</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="5">暂无代金卡记录</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>
</section>
<!--/中间内容区-->

<!--页脚-->
<%-include("common/footer.ejs")%>
<!--/页脚-->

<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="dengluZT.js"></script>


</body>
</html>