<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新客专享_心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/guest.css">
</head>
<body>
<!--导航栏部分-->
<!--头部导航-->
<%-include("common/header.ejs")%>
<!--头部导航结束-->

<!--中间内容-->
<section>
    <div class="center">
        <p>新用户专享</p>
        <span>发布时间：2017-12-15</span>
        <div class="line"></div>
        <img src="../images/guest.jpg" alt="" width="100%">
    </div>
</section>
<!--/中间内容-->

<!--页脚-->
<%-include("common/footer.ejs")%>
<!--/页脚-->

<script src="jquery-1.12.4.js"></script>
<script src="home-page.js"></script>
<script src="footer.js"></script>
<script src="dengluZT.js"></script>
</body>
</html>