<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<!--导航栏部分-->
<%-include("common/header.ejs")%>
<!--/导航栏部分-->

<div class="content-box article clearfix">
    <div class="bread-crumbs">
            <span>
                <a href="#" alt="" title="" style="font-size: 12px">购物指南</a>
            </span>
        <span style="font-size: 12px">&nbsp;&gt;&nbsp;</span>
        <span class="now" style="font-size: 12px">蛋糕预订说明</span>
    </div>
    <div class="article-main">
        <div class="article-left">
            <dl class="content-list">
                <dt class="content-title">公司公告</dt>
                <dd class="node-index content-item">
                    <a href="/21cakeBulletin.do" title="21cake公告">
                        21cake公告
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">关于21Cake</dt>
                <dd class="node-index content-item">
                    <a href="/contact.do" title="联系我们">
                        联系我们 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/cooperate.do" title="21cake企业合作">
                        21cake企业合作 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/history.do" title="21cake品牌历史">
                        21cake品牌历史 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/productIdea.do" title="产品理念">
                        产品理念
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">购物指南</dt>
                <dd class="node-index content-item">
                    <a href="/privacy.do" title="隐私保护政策">
                        隐私保护政策 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/vip.do" title="会员注册协议">
                        会员注册协议 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/instruction.do" title="蛋糕预订说明">
                        蛋糕预订说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/faq.do" title="会员体系FAQ">
                        会员体系FAQ </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/card.do" title="代金卡使用说明">
                        代金卡使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/coupon.do" title="优惠券使用说明">
                        优惠券使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/information.do" title="发票信息说明">
                        发票信息说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/alter.do" title="修改订单信息说明">
                        修改订单信息说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">配送方式</dt>
                <dd class="node-index content-item">
                    <a href="/order.do" title="配送范围说明">
                        配送范围说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">生产经营资质</dt>
                <dd class="node-index content-item">
                    <a href="/product.do" title="生产经营资质">
                        生产经营资质 </a>
                </dd>
            </dl>
        </div>
        <div class="article-right">
            <div class="article-title">
                <h2 style="color: #684029;">蛋糕预订说明</h2>
            </div>
            <p class="article-time">发布日期：2014-10-15 00:00:00</p>

            <div class="article-body" style="color: #684029;font-size: 12px">
                <p class="ins_title">各磅数蛋糕预订时间说明</p>
                <p class="ins_tip">注：每日预订时间请以各城市为准，如需订购5P以上蛋糕，请拨打400-650-2121进行下单。</p>
                <table border="0" cellpadding="0" cellspacing="0" width="749"
                       style="border-collapse: collapse;width:562pt">
                    <colgroup>
                        <col width="200" style="mso-width-source:userset;mso-width-alt:6400;width:150pt">
                        <col width="183" style="mso-width-source:userset;mso-width-alt:5856;width:137pt">
                        <col width="245" style="mso-width-source:userset;mso-width-alt:7840;width:184pt">
                        <col width="121" style="mso-width-source:userset;mso-width-alt:3872;width:91pt">
                    </colgroup>
                    <tbody>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height:13.5pt;width:150pt">品名</td>
                        <td class="xl65" width="183" style="width: 137pt;">提前6-8小时订购</td>
                        <td class="xl65" width="245" style="width: 184pt;">提前24小时订购</td>
                        <td class="xl66" width="121" style="width: 91pt;">提前48小时订购</td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">朗姆芝士</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">布莱克</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受5磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">核桃斯诺</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">杏仁克鲁兹</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受5磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">布朗尼</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">松仁淡奶</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">黑森林</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">榴莲飘飘<font
                                    class="font5">&nbsp;</font></td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受5磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">卡布其诺</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">心语心愿</td>
                        <td class="xl65" width="183" style="width: 137pt;">2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受5磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">百利甜情人</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">卡百利</td>
                        <td class="xl65" width="183" style="width: 137pt;">2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受5磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">花格</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">黑白巧克力慕斯</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P</td>
                        <td class="xl65" width="245" style="width: 184pt;">5P/10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">黑方</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P</td>
                        <td class="xl65" width="245" style="width: 184pt;">5P/10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">黑越橘</td>
                        <td class="xl65" width="183" style="width: 137pt;">2P/3P</td>
                        <td class="xl65" width="245" style="width: 184pt;">5P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">杰瑞</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P</td>
                        <td class="xl65" width="245" style="width: 184pt;">5P/10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">芒果慕斯</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P</td>
                        <td class="xl65" width="245" style="width: 184pt;">5P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">新马斯卡彭-咖啡软芝士蛋糕
                        </td>
                        <td class="xl65" width="183" style="width: 137pt;">1P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受1磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">平安夜</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P</td>
                        <td class="xl65" width="245" style="width: 184pt;">5P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">爱尔兰咖啡</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受1磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">桂圆冰淇淋蛋糕</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受1磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">The Moon Cake
                        </td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P</td>
                        <td class="xl65" width="245" style="width: 184pt;">5P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">冻慕斯与焗芝士</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P</td>
                        <td class="xl65" width="245" style="width: 184pt;">5P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">东方栗融</td>
                        <td class="xl65" width="183" style="width: 137pt;">2P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受2磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">百香果酸乳酪慕斯蛋糕</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受3磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">抹茶和栗</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P</td>
                        <td class="xl65" width="245" style="width: 184pt;">5P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">摩卡</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受5磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">风乍起</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受1磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">汉砖</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受1磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">重组</td>
                        <td class="xl66">/</td>
                        <td class="xl65" width="245" style="width: 184pt;">/</td>
                        <td class="xl65" width="121" style="width: 91pt;">1.5P</td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">深爱百利甜情人</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">新栗蓉暗香</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">10P/15P/20P/25P/30P</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">新卡</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受5磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">芒果奶油蛋糕</td>
                        <td class="xl65" width="183" style="width: 137pt;">2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受5磅以上预订</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">深艾尔</td>
                        <td class="xl66">/</td>
                        <td class="xl65" width="245" style="width: 184pt;">1P(杭州提前30小时)</td>
                        <td class="xl66"></td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="200" style="height: 13.5pt; width: 150pt;">枣儿</td>
                        <td class="xl65" width="183" style="width: 137pt;">1P/2P/3P/5P</td>
                        <td class="xl65" width="245" style="width: 184pt;">暂不接受5磅以上预订<br></td>
                        <td class="xl66"><br></td>
                    </tr>
                    </tbody>
                </table>
                <p class="ins_title" style="margin-top:30px;"><br>10磅及以上蛋糕预订价格说明</p>
                <table border="0" cellpadding="0" cellspacing="0" width="637" style="border-collapse:
 collapse;width:478pt">
                    <colgroup>
                        <col width="172" span="3" style="mso-width-source:userset;mso-width-alt:5504;
 width:129pt">
                        <col width="121" style="mso-width-source:userset;mso-width-alt:3872;width:91pt">
                    </colgroup>
                    <tbody>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="172" style="height:13.5pt;width:129pt">磅数</td>
                        <td class="xl65" width="172" style="width:129pt">零售价（元）</td>
                        <td class="xl66" width="172" style="width:129pt">升级款零售价（元）</td>
                        <td class="xl65" width="121" style="width:91pt">标准（块）</td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="172" style="height:13.5pt;width:129pt">10P</td>
                        <td class="xl65" width="172" style="width:129pt">1500</td>
                        <td class="xl66">1916</td>
                        <td class="xl65" width="121" style="width:91pt">81</td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="172" style="height:13.5pt;width:129pt">15P</td>
                        <td class="xl65" width="172" style="width:129pt">2250</td>
                        <td class="xl66">2874</td>
                        <td class="xl65" width="121" style="width:91pt">100（81）</td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="172" style="height:13.5pt;width:129pt">20P</td>
                        <td class="xl65" width="172" style="width:129pt">3000</td>
                        <td class="xl66">3832</td>
                        <td class="xl65" width="121" style="width:91pt">100（144）</td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="172" style="height:13.5pt;width:129pt">25P</td>
                        <td class="xl65" width="172" style="width:129pt">3750</td>
                        <td class="xl66">4790</td>
                        <td class="xl65" width="121" style="width:91pt">121</td>
                    </tr>
                    <tr height="18" style="height:13.5pt">
                        <td height="18" class="xl65" width="172" style="height:13.5pt;width:129pt">30P</td>
                        <td class="xl65" width="172" style="width:129pt">4500</td>
                        <td class="xl66">5738</td>
                        <td class="xl65" width="121" style="width:91pt">144（169）</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--页尾-->
<%-include("common/footer.ejs")%>

<script src="../lib/jquery/jquery.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="dengluZT.js"></script>

</body>
</html>