<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/liucoupan.css">
</head>
<body>
<!--头部导航-->
<%-include("common/header.ejs")%>
<!--头部导航结束-->

<!--内容区-->
<section id="section">
    <div class="center">
        <div class="dingDan-hd">
            <ul class="clearfix">
                <li class="colorLi bothUse dataLength">
                    全部( <span></span>)

                </li>
                <li class="bothUse hiddenUl dataLength" >
                    可用( <span></span>)
                    <ul>
                        <li class="dataLength">当前可用( <span></span>)</li>
                        <li>即将可用(0)</li>
                        <li>城市限定(0)</li>
                        <li>等级限定(0)</li>
                    </ul>
                </li>
                <li class="bothUse hiddenUl">
                    不可用(0)
                    <ul>
                        <li>已使用(0)</li>
                        <li>已过期(0)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--/内容区-->

<section>
    <div class="centerM">
        <div class="bgcHeight">

        </div>
    </div>
</section>

<!--页脚-->
<%-include("common/footer.ejs")%>
<!--/页脚-->
<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/liucoupan.js"></script>
<script src="dengluZT.js"></script>


</body>
</html>