<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<!--导航栏部分-->
<%-include("common/header.ejs")%>
<!--/导航栏部分-->

<div class="content-box article clearfix" style="min-height: 75px;">
    <div class="bread-crumbs">
            <span>
                <a href="#" alt="" title="" style="font-size: 12px">配送方式</a>
            </span>
        <span style="font-size: 12px">&nbsp;&gt;&nbsp;</span>
        <span class="now" style="font-size: 12px">配送范围说明</span>
    </div>
    <div class="article-main">
        <div class="article-left">
            <dl class="content-list">
                <dt class="content-title">公司公告</dt>
                <dd class="node-index content-item">
                    <a href="/21cakeBulletin.do" title="21cake公告">
                        心仪cake公告
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">关于心仪Cake</dt>
                <dd class="node-index content-item">
                    <a href="/contact.do" title="联系我们">
                        联系我们 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/cooperate.do" title="21cake企业合作">
                        心仪cake企业合作 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/history.do" title="21cake品牌历史">
                        心仪cake品牌历史 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/productIdea.do" title="产品理念">
                        产品理念
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">购物指南</dt>
                <dd class="node-index content-item">
                    <a href="/privacy.do" title="隐私保护政策">
                        隐私保护政策 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/vip.do" title="会员注册协议">
                        会员注册协议 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/instruction.do" title="蛋糕预订说明">
                        蛋糕预订说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/faq.do" title="会员体系FAQ">
                        会员体系FAQ </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/card.do" title="代金卡使用说明">
                        代金卡使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/coupon.do" title="优惠券使用说明">
                        优惠券使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/information.do" title="发票信息说明">
                        发票信息说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/alter.do" title="修改订单信息说明">
                        修改订单信息说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">配送方式</dt>
                <dd class="node-index content-item">
                    <a href="/order.do" title="配送范围说明">
                        配送范围说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">生产经营资质</dt>
                <dd class="node-index content-item">
                    <a href="/product.do" title="生产经营资质">
                        生产经营资质 </a>
                </dd>
            </dl>
        </div>
        <div class="article-right">
            <div class="article-title">
                <h2>配送范围说明</h2>
            </div>
            <p class="article-time">发布日期：2014-05-20 00:00:00</p>

            <div class="article-body"><h1 style="TEXT-ALIGN: center; FONT-SIZE: 24px">全国配送区域说明及示图</h1>
                <p style="TEXT-INDENT: 0px"><strong><a name="2" ,id="2">一、配送服务费</a></strong></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2">现有配送城市：北京/ 天津/ 上海/ 杭州/ 苏州/ 无锡/ 广州/ 深圳</a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2">单笔订单金额&lt;100元，配送服务费12元；</a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2">单笔订单金额</a><a name="2"><span
                                style="FONT-FAMILY: 宋体; FONT-SIZE: 12pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt"></span></a><a
                            name="2"><span
                                style="FONT-FAMILY: 宋体; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt; mso-bidi-font-size: 10.5pt"></span><span
                                style="mso-bidi-font-size: 10.5pt" lang="EN-US"></span></a><a name="2" ,id="2"></a><a name="2"
                                                                                                                      ,id="2"><span
                                style="FONT-FAMILY: 宋体; FONT-SIZE: 9pt; mso-bidi-font-family: 宋体; mso-font-kerning: 0pt">≧</span><span
                                style="FONT-SIZE: 9pt" lang="EN-US"></span></a><a name="2" ,id="2"> 100元，免收配送服务费。<span
                                lang="EN-US"></span></a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2"></a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2"></a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2"><br></a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2"></a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2"></a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2"></a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2"></a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2"><strong>二、配送范围</strong><br></a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2">（一）北京：</a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2">配送区域：六环以内；</a></p>
                <p style="TEXT-INDENT: 0px"><a name="2" ,id="2">配送时间：五环内：9:30-22:00点；五环外-六环内：10:00-21:00；</a></p>
                示图：<br>
                <img alt="北京蛋糕配送范围示意图"
                     src="map1.png">
                <p style="TEXT-INDENT: 0px"><a name="3" ,id="3">（二）天津：</a></p>
                <p style="TEXT-INDENT: 0px"><a name="3" ,id="3">配送区域：快速路以内；快速路以外—绕城公路以内；</a></p>
                <p style="TEXT-INDENT: 0px"><a name="3" ,id="3">配送时间：10:00-19:00；</a></p>
                <p style="TEXT-INDENT: 0px">示图：</p>

                <img alt="天津蛋糕配送范围示图A"
                     src="map2.png">
                <p>配送区域：天津滨海新区-塘沽：西至西中环快速-北至京津高速-东至海滨高速-南至海河，</p>
                <p>配送时间：10:00~19:00；</p>
                <p>示图：</p>

                <img alt="天津蛋糕配送范围示意图B"
                     src="map3.png"> <br>
                <p style="TEXT-INDENT: 0px"><a name="1" ,id="1">（三）上海：</a></p>
                <p style="TEXT-INDENT: 0px"><a name="1" ,id="1">配送区域：A30以内（金山区除外）</a></p>
                <p style="TEXT-INDENT: 0px"><a name="1" ,id="1">配送时间：</a></p>
                <p style="TEXT-INDENT: 0px"><a name="1" ,id="1">A、A20外环以内：9:30-22:00；</a></p>
                <p style="TEXT-INDENT: 0px"><a name="1" ,id="1">B、A20-A30之间：10:00-22:00；</a></p>
                <p style="TEXT-INDENT: 0px">C、<strong><font color="#990000">奉贤、泖港、叶榭、嘉定城区等在A30附近或较远区域：10:40-16:30；（黄色区域范围）</font></strong>
                </p>
                <p style="TEXT-INDENT: 0px">D、<font
                            color="#990000"><strong>宝山区扩大配全区支持配送（部分封闭区域除外，以系统判断为准）</strong></font></p>
                <p style="TEXT-INDENT: 0px">注：<strong><font color="#990000">浦东机场及金山区部分区域无法配送，如有疑问请致电：400-650-2121</font></strong><font
                            color="#990000"><strong></strong></font></p>
                <p>示图：</p>
                &nbsp;
                <img src="map4.png"><a
                        name="4" ,id="4"><br><br>（四）杭州：</a>
                <p><a name="4" ,id="4">配送区域：</a>杭州绕城高速以内、东至钱塘江、南至杭州绕城高速、西至杭州绕城高速、北至杭州绕城高速，绕城以外还可以配送杭州市萧山国际机场以内、临平地铁站A出口自提、未来科技城板块（东至杭州绕城高速、南至文二西路以北、西至云溪路以东、北至仓前站铁路延线以南。）
                </p>
                <p>配送时间：10:00-19:00</p>
                <p>示图：</p>
                &nbsp;
                <img src="map5.jpg">
                <p style="TEXT-INDENT: 0px"><a name="6" ,id="6">（五）苏州：</a></p>
                <p>配送区域：</p>
                <p>A、苏州绕城高速内；</p>
                <p>B、阳澄湖区（西至常台高速-北至绕城北线-东至阳澄湖-南至京沪高速）、木渎区（西至绕城西线-北至太湖大道-东至金枫路-南至宝带西路）、吴中区（西至绕城西线-北至宝带西
                    路-东至友新快速路-南至绕城南线）；</p>
                <p>配送时间：10:00-19:00；</p>
                <p>示图：</p>
                &nbsp;
                <img alt="苏州蛋糕配送范围示意图"
                     src="map7.png"> <br>
                <p style="TEXT-INDENT: 0px"><a name="5" ,id="5">（六）无锡：</a></p>
                <p style="TEXT-INDENT: 0px"><a name="5" ,id="5">配送区域：</a></p>
                <p>A、西至西环路-北至沪宜高速/京沪高速/锡沪路-东至通锡高速-南至通锡高速及向西延长线（至太湖）；</p>
                <p>B、西至京沪高速-北至锡沪路-东至通锡高速-南至京沪/通锡高速；</p>
                <p>配送时间：10:00-19:00； </p>
                <p>示图：</p>

                <img alt="无锡蛋糕配送范围示意图"
                     src="map8.png"> <br>
                <p style="TEXT-INDENT: 0px"><a name="7" ,id="7">（七）广州：</a></p>
                <p style="TEXT-INDENT: 0px"><a name="7" ,id="7">配送区域：</a></p>
                <p>A、环城高速以内（S81）；</p>
                <p>B、环城高速以外，西至广清高速/广州环城高速/广珠西线高速-北至广州绕城高速-东至广州绕城高速-南至广州绕城高速；</p>
                <p>C、花都部分地区支持配送（部分封闭区域除外，以系统判断为准）</p>
                <p>配送时间：9:30-20:00；</p>
                <p>示图：</p>
                &nbsp;
                <img src="map9.png">
                <p style="TEXT-INDENT: 0px"><a name="8" ,id="8">（八）深圳：</a></p>
                <p style="TEXT-INDENT: 0px"><a name="8" ,id="8">配送区域：</a></p>
                <p>A、南山区、福田区、罗湖区；</p>
                <p>B、西至广深沿江高速-北至深圳宝安国际机场/沈海高速-东至长深高速/盐排高速-南至深盐路/沙盐路/沙深路/罗沙路/盐坝高速/滨河大道/京港澳高速/滨河大道/深圳湾以北；</p>
                <p>配送时间：10:00-19:00；</p>
                <p>示图：</p>

                <img alt="深圳蛋糕配送范围示意图"
                     src="map10.png">
                <p>提示：以上图示中颜色覆盖区为配送区域； </p>
                <p>1. 颜色覆盖区为配送区域；</p>
                <p>&nbsp;</p></div>
        </div>
    </div>
</div>

<!--页尾-->
<%-include("common/footer.ejs")%>

<script src="../lib/jquery/jquery.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="dengluZT.js"></script>
</body>
</html>