<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<!--导航栏部分-->
<%-include("common/header.ejs")%>
<!--/导航栏部分-->

<div class="content-box article clearfix">
    <div class="bread-crumbs">
            <span>
                <a href="#" alt="" title="" style="font-size: 12px">生产经营资质</a>
            </span>
        <span style="font-size: 12px">&nbsp;&gt;&nbsp;</span>
        <span class="now" style="font-size: 12px">生产经营资质</span>
    </div>
    <div class="article-main">
        <div class="article-left">
            <dl class="content-list">
                <dt class="content-title">公司公告</dt>
                <dd class="node-index content-item">
                    <a href="/21cakeBulletin.do" title="21cake公告">
                        心仪cake公告
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">关于心仪Cake</dt>
                <dd class="node-index content-item">
                    <a href="/contact.do" title="联系我们">
                        联系我们 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/cooperate.do" title="21cake企业合作">
                        心仪cake企业合作 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/history.do" title="21cake品牌历史">
                        心仪cake品牌历史 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/productIdea.do" title="产品理念">
                        产品理念
                    </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">购物指南</dt>
                <dd class="node-index content-item">
                    <a href="/privacy.do" title="隐私保护政策">
                        隐私保护政策 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/vip.do" title="会员注册协议">
                        会员注册协议 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/instruction.do" title="蛋糕预订说明">
                        蛋糕预订说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/faq.do" title="会员体系FAQ">
                        会员体系FAQ </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/card.do" title="代金卡使用说明">
                        代金卡使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/coupon.do" title="优惠券使用说明">
                        优惠券使用说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/information.do" title="发票信息说明">
                        发票信息说明 </a>
                </dd>
                <dd class="node-index content-item">
                    <a href="/alter.do" title="修改订单信息说明">
                        修改订单信息说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">配送方式</dt>
                <dd class="node-index content-item">
                    <a href="/order.do" title="配送范围说明">
                        配送范围说明 </a>
                </dd>
            </dl>
            <dl class="content-list">
                <dt class="content-title">生产经营资质</dt>
                <dd class="node-index content-item">
                    <a href="/product.do" title="生产经营资质">
                        生产经营资质 </a>
                </dd>
            </dl>
        </div>
        <div class="article-right">
            <div class="article-title">
                <h2 style="color: #684029;">生产经营资质</h2>
            </div>
            <p class="article-time">发布日期：2017-02-08 00:00:00</p>

            <div class="article-body product">
                <a href="https://static.21cake.com/doc-i-117.html" type="url" class="first">
                    1.
                </a>
                <span>
                    <a href="/doc-i-116.html" type="url">
                        上海廿一客食品有限公司分公司
                    </a>
                </span>
                <a href="https://static.21cake.com/doc-i-116.html" type="url">
                    <span style=" font-family: verdana, Tahoma, Arial, 宋体, sans-serif; font-size: 14px;">

                    </span>
                </a>
                <br>
                <p><span><a href="/doc-i-117.html" type="url">2.心仪（上海）电子商务有限公司第二分公司</a></span></p>
                <p><span><a href="/doc-i-118.html" type="url">3.举实（上海）食品有限公司</a></span></p>
                <p><span><a href="/doc-i-119.html" type="url">4.杭州心仪食品有限公司</a></span></p>
                <p><span><a href="/doc-i-120.html" type="url">5.广州心仪食品有限公司</a></span></p>
                <p><span><a href="/doc-e-123.html" type="url">6.北京心仪食品有限公司</a></span></p>
                <p><span><a href="/doc-i-190.html" type="url">7.心仪（上海）电子商务有限公司</a></span></p>
                <p><span><a href="/doc-i-191.html" type="url">8.广州心仪食品贸易有限公司</a></span></p>
                <p><span><a href="/doc-e-192.html" type="url">9.深圳心仪贸易有限公司</a></span></p></div>
        </div>
    </div>
</div>
<!--页尾-->
<%-include("common/footer.ejs")%>

<script src="../lib/jquery/jquery.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="dengluZT.js"></script>
</body>
</html>