<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>全国配送</title>
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="home-page.css">
  <link rel="stylesheet" href="send.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<!--=============页头=============-->
<%- include('common/header.ejs') %>
<!--/============页头=============-->

<div class="national-top-banner"></div>
<div class="content-box">
  <ul class="national-pro-list">
    <li>
      <a href="/goods-761.html">
        <img src="../images/6-6.jpg">
        <h3>巴西挂耳咖啡</h3>
        <p>¥10.00/份</p>
      </a>
      <a class="button" data-stock="79209" id="button">订购</a>
      <div class="number-select">
        <i></i>
        <div class="addcount">
          <input type="button" data-bn="20180407-10" class="minus-button" value="-" style="border: none;border-right: 1px solid #D5BFA7;">
          <input type="text" name="quantity[20180407-10]" id="quantity_20180407-18" class="orderbuy" data-bn="20180407-10" data-price="40.00" value="0">
          <input type="button" data-bn="20180407-10" class="plus-button" value="+" style="border: none;border-left: 1px solid #D5BFA7;">
        </div>
      </div>
    </li>
    <li>
      <a href="/goods-762.html">
        <img src="../images/6-7.jpg">
        <h3>耶加雪菲挂耳咖啡</h3>
        <p>¥10.00/份</p>
      </a>
      <a class="button " data-stock="79784">订购</a>
      <div class="number-select">
        <i></i>
        <div class="addcount">
          <input type="button" data-bn="20180407-10" class="minus-button" style="border: none;border-right: 1px solid #D5BFA7;">
          <input type="text" name="quantity[20180407-10]" id="quantity_20180407-17" class="orderbuy" data-bn="20180407-10" data-price="40.00" value="0">
          <input type="button" data-bn="20180407-10" class="plus-button" style="border: none;border-left: 1px solid #D5BFA7;">
        </div>
      </div>
    </li>
    <li>
      <a href="/goods-757.html">
        <img src="../images/6-9.jpg">
        <h3>西达摩挂耳咖啡</h3>
        <p>¥10.00/份</p>
      </a>
      <a class="button " data-stock="79810">订购</a>
      <div class="number-select">
        <i></i>
        <div class="addcount">
          <input type="button" data-bn="20180407-10" class="minus-button" style="border: none;border-right: 1px solid #D5BFA7;">
          <input type="text" name="quantity[20180407-10]" id="quantity_20180407-16" class="orderbuy" data-bn="20180407-10" data-price="40.00" value="0">
          <input type="button" data-bn="20180407-10" class="plus-button" style="border: none;border-left: 1px solid #D5BFA7;">
        </div>
      </div>
    </li>
    <li>
      <a href="/goods-758.html">
        <img src="../images/6-5.jpg">
        <h3>巴布亚新几内亚挂耳咖啡</h3>
        <p>¥10.00/份</p>
      </a>
      <a class="button " data-stock="79793">订购</a>
      <div class="number-select">
        <i></i>
        <div class="addcount">
          <input type="button" data-bn="20180407-10" class="minus-button" style="border: none;border-right: 1px solid #D5BFA7;">
          <input type="text" name="quantity[20180407-10]" id="quantity_20180407-15" class="orderbuy" data-bn="20180407-10" data-price="40.00" value="0">
          <input type="button" data-bn="20180407-10" class="plus-button" style="border: none;border-left: 1px solid #D5BFA7;">
        </div>
      </div>
    </li>
    <li>
      <a href="/goods-759.html">
        <img src="../images/6-2.jpg">
        <h3>巴西挂耳咖啡盒装（10包入）</h3>
        <p>¥100.00/份</p>
      </a>
      <a class="button " data-stock="79972">订购</a>
      <div class="number-select">
        <i></i>
        <div class="addcount">
          <input type="button" data-bn="20180407-10" class="minus-button" style="border: none;border-right: 1px solid #D5BFA7;">
          <input type="text" name="quantity[20180407-10]" id="quantity_20180407-14" class="orderbuy" data-bn="20180407-10" data-price="40.00" value="0">
          <input type="button" data-bn="20180407-10" class="plus-button" style="border: none;border-left: 1px solid #D5BFA7;">
        </div>
      </div>
    </li>
    <li>
      <a href="/goods-760.html">
        <img src="../images/6-1.jpg">
        <h3>耶加雪菲挂耳咖啡盒装（10包入）</h3>
        <p>¥100.00/份</p>
      </a>
      <a class="button " data-stock="79980">订购</a>
      <div class="number-select">
        <i></i>
        <div class="addcount">
          <input type="button" data-bn="20180407-10" class="minus-button" style="border: none;border-right: 1px solid #D5BFA7;">
          <input type="text" name="quantity[20180407-10]" id="quantity_20180407-13" class="orderbuy" data-bn="20180407-10" data-price="40.00" value="0">
          <input type="button" data-bn="20180407-10" class="plus-button" style="border: none;border-left: 1px solid #D5BFA7;">
        </div>
      </div>
    </li>
    <li>
      <a href="/goods-756.html">
        <img src="../images/6-3.jpg">
        <h3>西达摩挂耳咖啡盒装（10包入）</h3>
        <p>¥100.00/份</p>
      </a>
      <a class="button " data-stock="79986">订购</a>
      <div class="number-select">
        <i></i>
        <div class="addcount">
          <input type="button" data-bn="20180407-10" class="minus-button" style="border: none;border-right: 1px solid #D5BFA7;">
          <input type="text" name="quantity[20180407-10]" id="quantity_20180407-12" class="orderbuy" data-bn="20180407-10" data-price="40.00" value="0">
          <input type="button" data-bn="20180407-10" class="plus-button" style="border: none;border-left: 1px solid #D5BFA7;">
        </div>
      </div>
    </li>
    <li>
      <a href="/goods-755.html">
        <img src="../images/6-8.jpg">
        <h3>巴布亚新几内亚盒装（10包入）</h3>
        <p>¥100.00/份</p>
      </a>
      <a class="button " data-stock="79980">订购</a>
      <div class="number-select">
        <i></i>
        <div class="addcount">
          <input type="button" data-bn="20180407-10" class="minus-button" style="border: none;border-right: 1px solid #D5BFA7;">
          <input type="text" name="quantity[20180407-10]" id="quantity_20180407-11" class="orderbuy" data-bn="20180407-10" data-price="40.00" value="0">
          <input type="button" data-bn="20180407-10" class="plus-button" style="border: none;border-left: 1px solid #D5BFA7;">
        </div>
      </div>
    </li>
    <li>
      <a href="/goods-749.html">
        <img src="../images/6-4.jpg">
        <h3>四口味挂耳咖啡混合装（4包入）</h3>
        <p>¥40.00/份</p>
      </a>
      <a class="button" data-stock="66">订购</a>
      <div class="number-select">
        <i></i>
        <div class="addcount">
          <input type="button" data-bn="20180407-10" class="minus-button" style="border: none;border-right: 1px solid #D5BFA7;">
          <input type="text" name="quantity[20180407-10]" id="quantity_20180407-10" class="orderbuy" data-bn="20180407-10" data-price="40.00" value="0">
          <input type="button" data-bn="20180407-10" class="plus-button" style="border: none;border-left: 1px solid #D5BFA7;">
        </div>
      </div>
    </li>
  </ul>
  <div class="order-info">
    <h2>订单信息</h2>
    <form id="create-order" action="/activity-special_goods-submit.do" method="post">
      <div class="order-info-content">
        <div class="order-info-left">
          <ul>
            <li><label>收货人：</label><input type="text" name="consignee" placeholder="收货人姓名" value=""><span>请输入收货人姓名</span>
            </li>
            <li><label>联系方式：</label><input type="text" name="mobile" placeholder="收货人联系方式" value=""><span>请输入联系方式</span>
            </li>
            <li class="city-list">
              <label>城市：</label>
              <select name="province" id="province">
                <option value="">省</option>
                <option value="北京">北京</option>
                <option value="上海">上海</option>
                <option value="四川">四川</option>
              </select>
              <select name="city" id="city">
                <option value="">市</option>
              </select>
              <select name="county" id="county">
                <option value="">区/县</option>
              </select><span id="addrss-select-tips">请选择所在城市</span>
              <input type="hidden" name="regionId" id="region-id" value="">
            </li>
            <li class="address-list">
              <label>详细地址：</label>
              <textarea name="address" placeholder="请输入详细地址"></textarea>
              <span id="addressList">请填写配送信息</span>
            </li>

          </ul>
        </div>
        <div class="order-info-right">
          <p>商品金额：¥<span id="item_cost">00.00</span></p>
          <p>配送费：¥<span id="item_ship_fee">00.00</span></p>
          <div class="total-amount"><p>合计：¥<span id="total_amount">00.00</span></p></div>
          <p class="last-p">发货及到货时间参考产品详情页说明</p>
          <div class="total-button">
            <input type="button" value="在线付款" class="button" onclick="but()" style="background-color: #684029">
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<!--=============页脚=============-->
<%- include('common/footer.ejs') %>
<!--/============页脚=============-->

<script src="jquery/jquery.js"></script>
<script src="home-page.js"></script>
<script src="footer.js"></script>
<script src="send.js"></script>
<script src="dengluZT.js"></script>
<script>
  /*当前页面默认的导航栏导航文字和标记显示*/
  $("#header .nav-centerContent li a").eq(5).addClass("changeColor");
  $("#header .nav-centerContent li a").eq(5).next().addClass("showSpan");

  $(function () {
      $(".addcount").each(function (index,element) {
          $(element).on("click",function () {
              var $count=$("#total_amount").text();
              console.log($count)
              $.ajax({
                  type:"post",
                  url:"/sendGoods.do",
                  data:{
                      s_count:$count
                  }
              })
          })
      })
  })
</script>
</body>
</html>