<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心仪Cake蛋糕官网_24小时蛋糕网上订购_5小时新鲜送达！</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/senior.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/designer.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/password.css">
</head>
<body>
<!--导航栏部分-->
<%-include("common/header.ejs")%>
<!--/导航栏部分-->


<!--页头下-->
<section class="ddwj">
    <form action="">
        <p class="biaoti">忘记密码</p>
        <div class="sjh kuang kuang1  ">
            <span>手机号</span>
            <input type="text" placeholder="输入手机号">
            <span id="sjtisi">如果没有绑定过手机号码，将自动绑定</span>
        </div>
        <div class="tx kuang kuang1" id="txxx">
            <span>图形验证码</span>
            <input type="password" placeholder="输入图片字符" class="srxmm">
            <div><div class="yzimg"><img src="../images/yzt.png" alt=""></div><div class="sxbox"></div></div>
        </div>
        <div class="dxyz kuang kuang1">
            <span>短信验证码</span>
            <input type="password" placeholder="输入短信验证码">
            <button class="hqyzm">获取短信验证码</button>
        </div>


        <div class="xmm kuang  kuang1" id="xmm1">
            <span>新密码</span>
            <input type="password" placeholder="输入新密码" class="srxmm">
            <span id="tisi">密码由8～20个字符，需同时包含英文和数字</span>
        </div>
        <div class="zcsr kuang kuang1">
            <span>再次输入</span>
            <input type="password" placeholder="再次输入新密码"  onkeyup="mm()">
            <div class="icon1 icon2"></div>
        </div>
        <p class="redts">两次密码输入不一致</p>
        <button class="quer">确认修改</button>
    </form>
    <div class="mmqd mmqd1"><img src="../images/mmts.png" alt=""></div>
    <p class="ruoji qiangji">弱</p>
    <p class="cdts cdts1">密码由8～20个字符，需同时包含英文和数字</p>
</section>
<!--页尾-->
<%-include("common/footer.ejs")%>

<!--jq插件-->
<script src="../lib/jquery/jquery.js"></script>
<script src="../js/designer.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/password.js"></script>
<script src="login.js"></script>

</body>
</html>